# Data Types
1. Fundamental data types
2. collection data types

## fundamental data types
1. int 
2. float
3. complex
4. boolean
5. string

In [17]:
x=10 
y=20.45
z=4+5j
a=True
s="string1"
s1="string2"
print(type(x),type(y),type(z),type(a),type(s),type(s1))

<class 'int'> <class 'float'> <class 'complex'> <class 'bool'> <class 'str'> <class 'str'>

In [27]:
print(s)
print(s[5])
print(s[6])
print(s[-1])
print(s[2:6])
print(s[::4])
print(s[::-1])
print(s[::1])
print(s[::2])

string1
g
1
1
ring
sn
1gnirts
string1
srn1

In [26]:
str1=input("enter a string")
print(str1==str1[::-1])

enter a stringmadam
True

In [32]:
ord("a")

97

In [33]:
ord('a')

97

In [35]:
ord("2")

50

In [36]:
chr(65)

'A'

In [38]:
chr(97)

'a'

In [41]:
# built-in functions 
x=10
y=str(x)
print(len(s))#length or no of charecters in your string
print(min(s))
print(max(s))
print(y)

7
1
t
10

# string built-in methods
1. isalpha()
2. isdigit()
3. isalnum()
4. lower()
5. upper()
6. isupper()
7. islower()
8. capitalize()

In [43]:
s1="abc"
s2="abc123"
s3="123"
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())
print(s1.isdigit())
print(s2.isdigit())
print(s3.isdigit())
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())

True
False
False
False
False
True
True
True
True

In [46]:
print(s1.upper())
print(s1.lower())

ABC
abc

In [47]:
print(s1)
s1=s1.upper()
print(s1)
print(s1.lower())

abc
ABC
abc

In [49]:
s5="abc def ghi"
print(s5.capitalize())
s5=s5.replace("def","xyz")
print(s5)

Abc def ghi
abc xyz ghi

In [50]:
#operators
#arithmetic operators:+,_,*,/,//,**
x=5
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x//y)
print(x**y)

7
3
10
2.5
1
2
25

In [51]:
#relational operators:<,<=,>,>=,==,!=
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)
print(x==y)
print(x!=y)

False
False
True
True
False
True

In [53]:
#logical operators: and,or,not
print(x<y and x<10)
print(x<y or x<10)
print(not x)

False
True
False

In [56]:
#4. bitwise operators:&,/,^,~,<<,>>
#5. assignment operator:=,+=,-=,*=,/=,//=,**=
#6. membership operators:in, not in
#7. identify operators: is, is not
x=10
y=20
print(id(x),id(y))
print(x is y)

140727242236592 140727242236912
False

In [58]:
x=10
y=10
print(id(x),id(y))
print(x is y)

140727242236592 140727242236592
True

In [ ]:
#control statement:
#1. if  2. else  3. elif

In [61]:
x=10
y=10
if x<y:
    print("x<y")
elif x>y:
    print("y<x")
else:
    print("x=y")

x=y

In [66]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=int(input("enter c value"))
if a>b and a>c:
    print("largest number is:",a)
elif b>c:
        print("largest number is:",b)
else:
         print("largest number is:",c)

enter a value10
enter b value11
enter c value12
largest number is: 12

In [68]:
str1="1%2%3"
x,y,z = str1.split('%')
print(x)
print(y)
print(z)

1
2
3

In [72]:
#map(function,iterable object)
a,b,c=map(int,input().split())
print(a,b,c)

1 2 3
1 2 3

In [2]:
a,b,c=map(int,input().split())
avg=(a+b+c)/3
if a>30 and b>30 and c>30:
    print(avg)
    if avg>75:
        print("A")
    elif avg>60 and avg<75:
        print("B")
    elif avg>45 and avg<60:
        print("c")
    elif avg>30 and avg<45:
        print("d")
    else:
        print("PHAIL")
else:
    print("FAIL")

29 99 55
FAIL

In [7]:
#print 1-n values
n=int(input("enter a value"))
i=1
while i<=n:
    print(i,end=" ") 
    i+=1

enter a value12
1 2 3 4 5 6 7 8 9 10 11 12

In [9]:
#print 1-n values
n=int(input())
c=0
print(len(input()))
while n!=0
  c+=1
  n=n//10
  print(c)

SyntaxError: invalid syntax (<ipython-input-9-c7da6809efa2>, line 5)