In [3]:
#count no of digits in the given string
#input:"python123is456good789"
#output:9
s="python123is456good789"
i=0
count=0
sum=0
while i<len(s):
    if s[i].isdigit():
        count+=1
        sum+=int(s[i])
    i+=1

    
    
    
    
print(count)
print("count is:",count,"sum of digits is:",sum)

9
count is: 9 sum of digits is: 45

In [10]:
#for loop
#1. using range()
#2. using iterable object
n= int(input("enter a number"))
for i in range(1,n+1,3):
    print(i,end=" ")

enter a number10
1 4 7 10

In [14]:
#input:python
#output:p y t h o n
s=input()
i=0
while  i<len(s):
    print(s[i],end=" ")
    i+=1
print()
for i in range(0,len(s)):
    print(s[i],end=" ")
print()
for i in s:
    print(i,end=" ")

python
p y t h o n
p y t h o n
p y t h o n

# collection type data type:
## list
1. for creating a list use[]
2. list are mutable
3. list are indexed
4. list are ordered
5. list allows duplicate values
6. it stores heterogeneous values

In [21]:
list1=[23,34,456,56.67,"string",True,[1,2,3,]]
print(list1[-1])
print(list1[2:4])
print(list1[-3][::-1])
print(list1[-1][::-2])

[1, 2, 3]
[456, 56.67]
gnirts
[3, 1]

In [22]:
#manipulating a list
#1. adding elements
list1 = [34,45,56,67]
print("before adding elements:",list1)
list1.append(100)
list1.append(200)
list1.append(300)
print("after adding elements:",list1)

before adding elements: [34, 45, 56, 67]
after adding elements: [34, 45, 56, 67, 100, 200, 300]

In [23]:
list1.insert(1,400)
list1

[34, 400, 45, 56, 67, 100, 200, 300]

In [29]:
list1.extend([1,8,3])
list1

[34, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3, 1, 2, 3, 1, 3, 3, 1, 4, 3, 1, 4, 3, 1, 8, 3]

In [30]:
#removing elements from the list
list1.pop()
print(list1)

[34, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3, 1, 2, 3, 1, 3, 3, 1, 4, 3, 1, 4, 3, 1, 8]

In [32]:
list1.pop(-2)
print(list1)

[34, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3, 1, 2, 3, 1, 3, 3, 1, 4, 3, 1, 4, 1]

In [33]:
list1.pop(-2)

4

In [43]:
list1.pop()
print(list1)

[34, 400, 45, 56, 67, 100, 200, 300, 1, 2, 3, 1]

In [44]:
list1.remove(1)

In [45]:
list1

[34, 400, 45, 56, 67, 100, 200, 300, 2, 3, 1]

In [46]:
list1.clear
list1

[34, 400, 45, 56, 67, 100, 200, 300, 2, 3, 1]

In [47]:
list1.clear

In [48]:
list1.clear()

In [49]:
list1

[]

In [52]:
list1.extend([23,34,45,56,67,78])
list1

[23, 34, 45, 56, 67, 78]

In [66]:
list1.replace(0,23,3)
list1

AttributeError: 'list' object has no attribute 'replace'

In [54]:
list1.reverse()
list1

[78, 67, 56, 45, 34, 23]

In [55]:
list1

[78, 67, 56, 45, 34, 23]

In [57]:
list1.reverse()
list1

[78, 67, 56, 45, 34, 23]

In [58]:
list1.index(56)
list1

[78, 67, 56, 45, 34, 23]

In [59]:
list1.index(56)

2

In [4]:
#input:[2,4,5,7,8]
#output:[4,16,25,49,64]
l1=[2,3,4,5,6,7]
l2=[]
for i in range(0,(len(l1))):
    l2.append(l1[i]*l1[i])
l2

[4, 9, 16, 25, 36, 49]

In [72]:
#input:[2,4,5,7,8]
#output:[4,16,25,49,64]
l3=[]
for i in l1: 
    l3.append(i**2)
print(l3)

[4, 9, 16, 25, 36, 49]

In [7]:
#input:[2,4,5,7,8]
#output:[4,16,25,49,64]
m=int(input("size"))
l4=[]
for i in range(m):
    l4.append(int(input()))
l5=[]
for i in range(0,(len(l4))):
    l5.append(l4[i]*l4[i])
l5

size3
2
3
4

[4, 9, 16]

In [5]:
l6=[]
for i in l1:
    if i%2==0:
        l6.append(i)
l6

[2, 4, 6]

In [6]:
l7=[]
n=int(input())
sum=0
for i in range(n):
    l7.append(int(input()))
    sum+=l7[i];
print(l7)
print(sum)

4
2
3
4
5
[2, 3, 4, 5]
14

# tuple

In [8]:
x=23,34,45,56,67
print(type(x))

<class 'tuple'>

In [9]:
tup1=(23,34,45)
x,y,z=tup1
print(x,y,z)

23 34 45

### dictionary
#### syntax:{key1:value1,key2:value2,...}
##### key:
###### 1.key should be unique
###### 2.key should be immutable....>int,float,tuple,string

In [11]:
dict1={"name":"messi","job":"football","position":"striker"}
dict1["name"]

'messi'

In [13]:
#replace value in dictionary
dict1["position"]="top"
dict1

{'name': 'messi', 'job': 'football', 'position': 'top'}

In [14]:
#adding value in dictionary
dict1["rank"]="the best"
dict1

{'name': 'messi', 'job': 'football', 'position': 'top', 'rank': 'the best'}

In [15]:
#removing entry
del dict1["position"]
dict1

{'name': 'messi', 'job': 'football', 'rank': 'the best'}

## Function:
### def name_of_the_function(arg list):
#### statements
#### return

In [17]:
def add(x,y):#function definition
    return(x+y)
    
print(add(10,20))#function calling
print(add(100,200))

30
300

def square(x):
    return x*x
def cube(x):
    return square(x)*x
print(cube(3))

In [19]:
string="my name is"
for i in string.split():
    print(i,end=",")

my,name,is,

In [ ]:
for